/* .section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div button{
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}
div span{
    font-size: 24px;
    font-weight: bold;
} */